:root {
    --color-brand: #EF5F4C;
    --color-background: #FFFFFF;
    --color-surface: #F5F5F5;
    --color-skeleton: #D9D9D9;
    --color-shape-transparency:#ffffff8f;
    --color-text-primary: #313131;
    --color-text-secondary: #6C6C6C;
    
    --font-family: "Poppins", sans-serif;
    --text-lg: bold 32px/125% var(--font-family);
    --text-lg-mob: bold 24px/125% var(--font-family);
    --text: 16px/150% var(--font-family);
    --text-md: 14px/170% var(--font-family);
    --text-sm: 12px/170% var(--font-family);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--color-brand);
    text-decoration: underline;
}

.container {
    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
}

.bg-surface-color {
    background-color: var(--color-surface)
}

/* Utility */

.desktop-only {
    display: inherit;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.even-columns {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

/* Mobile */
@media (width < 50em) {
    .desktop-only {
        display: none;
    }

    .even-columns {
        display: grid;
        grid-auto-flow: row;
    }
}