@import url("global.css");
@import url("nav.css");
@import url("personal-infos.css");
@import url("pictures.css");
@import url("footer.css");

body {
    font: var(--text);
    color: var(--color-text-secondary);
    background-color: var(--color-background);
}