.personal-infos {
    padding-block: 32px;
    font: var(--text-mb);
    align-items: center;
}

.personal-sumary {
    gap: 32px;
    grid-auto-columns: 11rem auto;
}

.personal-sumary > div {
    max-width: 384px;
}

.personal-sumary h1 {
    font: var(--text-lg);
    color: var(--color-text-primary);
    margin-bottom: 8px;
}

.personal-sumary p {
    font: var(--text-mb);
}

.travel-sumary {
    display: grid;
    place-content: center right;
}

.travel-sumary ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    width: 280px;
}

.travel-sumary li{
    display: flex;
    align-items: center;
    gap: 8px;
}


.personal-sumary:first-child img {
    height: 176px;
    width: 176px;
    object-fit: cover;
    border-radius: 50%;
}

@media (width < 50em) {
    .personal-sumary h1 {
        font: var(--text-lg-mob);
        color: var(--color-text-primary);
        margin-bottom: 8px;
    }

    .personal-sumary:first-child img{
        height: 7.5rem;
        width: 7.5rem;
    }

    .personal-infos {
        gap: 2rem;
        & > div {
            margin-right: auto;
        } 
    }

    .personal-sumary {
        gap: 16px;
    }

    .even-columns {
        grid-auto-columns: 1fr;
    }
}